body {
    margin: 0;
}

.front-page-header {
    background-color: #2d4059;
    text-align: center;
    padding-top: 8em;
}

.top-cloud {
    position: absolute;
    top: 10%;
    right: 25%;
}

.bottom-cloud {
    position: absolute;
    top: 225px;
    left: 23.5%;
}

.front-page-header > h1 {
    font-size: 4.5em;
    margin-block-start: 0;
    font-family: 'Work Sans', sans-serif;
}

.front-page-header > p {
    margin-block-end: 2;
    font-size: 1.5em;
    font-family: 'Comfortaa', cursive;
}

.front-page-header > * {
    color: #e5e5e5;
}

.middle-container {
}

#portrait {
    width: 200px;
}

#dotnet-database {
    width: 110px;
}

#webpage-code {
    width: 100px;
}

#game-controller {
    width: 120px;
}

.bottom-container {
}

