body {
    background-color: #f6f5f5;
}
hr {
    border-style: dotted;
    border-top-width: 4px;
    border-color: cadetblue;
    border-bottom-style: none;
    border-right-style: none;
    border-left-style: none;
    width: 32px;
}
h1, h3 {
    color: #00334e;
}